@charset "UTF-8";
body {background-color:rgb(64, 139, 204);
color: rgb(0, 0, 0);
font-size: 30px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif }
img{
    height: 300px;
}


 